#logo{
    width: 50px;
}
#eleje{
    background-image: url("képek/eleje.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
    background-attachment: fixed;
}

#main{
    padding: 0px 10px ;
}

#r1{
    padding: 40px;
}

#r2{
    padding: 40px;
}

#r3{
    margin-left: 145px;
    margin-top: 50px;
    text-align: justify;
}

#b1{
    padding: 0px 180px ;
    font-size: x-large;
    text-align: justify;
}

#Kátyák{
    text-align: center;


#k1{
    width:90%;
    border-radius: 25px;
    text-align: center;
    margin-left: -50px;
}

#k2{
    width:90%;
    border-radius: 25px;
    text-align: center;
    margin-left: 150px;
    
}

#k3{
    height:191px ;
}

#palya{
    margin-left: 170px;
}
